  <div class="card-group">
    <div *ngFor="let product of products">
      <div class="card">
        <div class="card text-center" style="width: 18rem;">
          <div class="card-body">
            <img class="card-img-top" src="assets/images/download.jpg" width="80px" height="150px">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.brand }}</p>
            <button class="btn btn-secondary btn-view-product" (click)="viewProduct(product.id)" class="btn btn-primary">View Product</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
