<div class="container">
  <div class="card-group">
    <ng-container *ngIf="products.length">
      <div *ngFor="let product of products">
        <a [routerLink]="['product/', product.id]" class="custom-card">
          <div class="card h-100">
            <img class="card-img-top" src="{{product.image}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <p class="card-text">{{ product.brand }}</p>
                </div>
            </div>
          </a>
        </div>
    </ng-container>
    
      <div *ngIf="!products.length">
        No results containing all your search terms were found
      </div>
    </div>
  </div>


